@media screen and (max-width:767px){
	body .elementor-widget-heading h1.elementor-heading-title,
body h1,
body .h1, 
body .elementor-widget-heading.h1 .elementor-heading-title, 
h1.elementor-cta__title.elementor-cta__content-item {
    font-size: 34px;
}

body .elementor-widget-heading h2.elementor-heading-title,
body h2,
body .h2, 
body .elementor-widget-heading.h2 .elementor-heading-title, 
h2.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h2.elementor-image-box-title,
.elementor-posts .elementor-post__card h2.elementor-post__title,
.elementor-posts h2.elementor-post__title {
    font-size: 32px;
}

body .elementor-widget-heading h3.elementor-heading-title,
body h3,
body .h3, 
body .elementor-widget-heading.h3 .elementor-heading-title, 
h3.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h3.elementor-image-box-title,
.elementor-posts .elementor-post__card h3.elementor-post__title,
.elementor-posts h3.elementor-post__title {
    font-size: 28px;
}

body .elementor-widget-heading h4.elementor-heading-title,
body h4,
body .h4, 
body .elementor-widget-heading.h4 .elementor-heading-title, 
h4.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h4.elementor-image-box-title,
.elementor-posts .elementor-post__card h4.elementor-post__title,
.elementor-posts h4.elementor-post__title {
    font-size: 24px;
}

body .large .elementor-heading-title{
    font-size: 64px;
}

body .elementor-widget-text-editor, 
body .elementor-widget-text-editor p{
    font-size: 18px;
}

	.elementor-button:after,
	[type="button"]:after {
		width: 375px;
	}

	.hero-down-arrow .elementor-icon{
        border: 5px solid #dbe9ee;
    }
    .yellow-bg-divider .hero-down-arrow .elementor-icon{
        border-color: #f3e2a7;
    }

	html body .gform_wrapper ul.gfield_checkbox li label {
		padding-left: 36px;
		font-size: 16px;
		line-height: 22px;
		margin-top: 3px;
	}
	/* ---------------------------- code for cookies ---------------------------- */
	#cookie-notice .cookie-notice-container {
		padding: 25px 40px;
	}

	#cookie-notice .cookies-message {
		width: 100%;
		max-width: 100%;
		display: block;
		padding-bottom: 25px;
		margin: 0 auto;
	}

	#cookie-notice .cookies-button-container {
		display: block;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}

	#cookie-notice #cn-notice-text {
		display: block;
	}

	/* -------------------------- end code for cookies -------------------------- */
}

